Button {
  height: 2.325rem;
  background: #767676;
  border-radius: 0.25rem;
  padding: 0 1rem;
  outline: 0;
  border: 0;
  color: #FFF;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
  margin: 3px;
}

Button:hover {
  background: #767676C0;
}

Button.ascending::after {
  content: '👇';
  display: inline-block;
  margin-left: 1em;

}

Button.descending::after {
  content: '☝️';
  display: inline-block;
  margin-left: 1em;

}